@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Student: @Model.StudentId</h1>
    </div>

    <div class="text-center">
        <h1 class="display-4">Available Courses</h1>

        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-striped table-hover border-bottom">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Tutor</th>
                            <th>Cost</th>    
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var course in Model.Courses)
                        {
                            @using (Html.BeginForm("Enrol", "Home", 
                                 new { courseId = course.Id, studentId = Model.StudentId }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <tr>
                                    <td>
                                        @course.Date
                                    </td>
                                    <td>
                                        @course.Title
                                    </td>
                                    <td>
                                        @course.Tutor
                                    </td>
                                    <td>
                                        @course.Cost
                                    </td>
                                    <td>
                                        <input type="submit" value="Enrol" />
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
