@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Student: @Model.StudentId</h1>
    </div>

    <div class="text-center">
        <h1 class="display-4">Available Courses</h1>

        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-striped table-hover border-bottom">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Tutor</th>
                            <th>Cost</th>    
                            <th>Capacity</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var courseViewModel in Model.Courses)
                        {
                            @using (Html.BeginForm("Enrol", "Home", 
                                 new { courseId = courseViewModel.Course.Id, studentId = Model.StudentId }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                        <tr>
                            <td>
                                @courseViewModel.Course.Date
                            </td>
                            <td>
                                @courseViewModel.Course.Title
                            </td>
                            <td>
                                @courseViewModel.Course.Tutor
                            </td>
                            <td>
                                @courseViewModel.Course.Cost
                            </td>
                            <td>
                                @courseViewModel.Enrolled / @courseViewModel.Course.Capacity
                            </td>
                            <td>
                                <input type="submit" value="Enrol" />
                            </td>
                        </tr>
                                }
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
